@import "tailwindcss";

@theme {
  --color-primary: #4f46e5; /* Indigo */
  --color-accent: #10b981;  /* Emerald */
  --color-surface: #f8fafc; /* Slate 50 */
}

@layer base {
  body {
    @apply bg-surface text-slate-900 font-sans antialiased;
  }
}